<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,=">
    <title>SPOT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
        crossorigin="anonymous">
    </script>

    <script src="{{ url_for('static', filename='js/nipplejs.js') }}"></script>
    <script src="static/js/main.js"></script>

    <style>
        #content {
            width: 75%;
            margin: 0 auto;
        }
        #cvs {
            padding: 0;
            margin: auto;
            display: block;
        }
        #spot_video_stream {
            padding: 0;
            margin: auto;
            display: block;
        }
        #left_joy {
            position: absolute;
            left: 15%;
            top: 50%;
            display: block;
        }
        #right_joy {
            position: absolute;
            left: 85%;
            top: 50%;
            display: block;
        }
        #odom {
            position: absolute;
            margin: auto;
            display: block;
        }
    </style>

</head>
<body>
    <div id="content">
        <h1>SPOT Web Controller</h1>
        <br> <br>
        <p id="message">Upload image of floorplan (.png, .jpg, .jpeg)</p>
    
        <form method="post" action="/upload_image" enctype="multipart/form-data">
            <input type="file" name="file" autocomplete="off" required>
            <input type="submit" value="Submit" style="display: inline;">
        </form>
        <br>
        <canvas id="cvs"></canvas>
        <br>
        <div id="path_command" style="display: none;">
            <input id ="solve" type="button" value="Solve">
            <p id="path_info" style="display: inline;"> </p>
        </div>
        <br> <br>
        <div id="command_input" style="display: none;">
            <div>
                <input type="checkbox" id="return" name="return" checked>
                <label for="return">Return to start</label>
            </div>
            Pixel per meter: <input type="text" id="scale" value="" style="width: 50px;">
            <input id ="send_trajectory" type="button" value="Send trajectory to SPOT">
            <input id ="home_position" type="button" value="Go to start">
        </div>
        <br> <br>
        <div id="odom">
            <p id="x"> </p>
            <p id="y"> </p>
            <p id="head"> </p>
        </div>
        <br> <br>
        <div style="position: relative;">
            <div id="left_joy"></div>
            <img id="spot_video_stream" src="{{ url_for('video_feed') }}">
            <div id="right_joy"></div>
        </div>
        <br> <br>
    </div>

    {% if filename %}
        <script>
            window.onload = function() {
                var cnvs  = document.getElementById("cvs");
                var ctx = cnvs.getContext('2d');
                var img = new Image();

                img.src = "{{ url_for('display_image', filename=filename) }}";

                img.onload = function (e) {
                    cnvs.width = img.width;
                    cnvs.height = img.height;

                    console.log(img.width);

                    ctx.drawImage(img, 0, 0);
                }

                var message = document.getElementById("message");
                message.innerHTML = "Click on floor plan to set initial start point and inspection points. Then click solve.";

                var solve = document.getElementById("path_command");
                solve.style.display = "block"
            }
        </script>
    {% endif %}

    
</body>
</html>